body {
    margin: 0;
    background-color: #FFF6DA;
    overflow-y: auto;
    font-family: 'Exo 2', sans-serif !important;
}

.header {
    position: relative;
    width: 100%;
    background-color: #DFD0B8;
    padding: 10px 20px 5px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.logo img {
    max-height: 50px;
    padding-left: 30px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    color: #3C5B6F;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 10px;
    letter-spacing: 2px;
    position: relative;
    transition: color 0.2s ease;
}

.nav-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2.5px;
    background-color: #153448;
    transition: width 0.3s ease;
    border-radius: 5px;
}

.nav-list a:hover::after,
.nav-list a.active::after {
    width: 100%;
    background-color: #153448;
}

.nav-list a.active {
    color: #153448;
}

.overlay {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.5);
}

.field_set {
    position: absolute;
    font-size: 17px;
    z-index: 2000;
    border: 2px solid #000;
    background-color: rgba(234,159,198,0.2);
    padding: 20px;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(223,0,125,0.3);
    text-shadow: 1px 1px 3px rgba(223,0,125,0.3);
    backdrop-filter: blur(5px);
    font-weight: 700;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
.close-btn:hover {
    color: red;
}

.log-in-btn, .btn {
    background-color: rgba(223,0,125,0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 9px;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
.log-in-btn:hover, .btn:hover {
    background-color: rgba(223,0,125,1);
    transform: scale(1.1);
}

.play-btn {
    background-color: rgba(0, 153, 0, 0.8);
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
.play-btn:hover {
    background-color: rgba(0, 153, 0, 1);
    transform: scale(1.1);
}

/* Game Rules Section */
.card {
    width: 40%;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(223,0,125,0.3);
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.1);
}
.card h2 {
    font-size: 18px;
}
.card p {
    font-size: 14px;
}

section {
    padding: 40px 20px;
}
